html, body {
  width: 100%;
}

body {
  margin: 30px;
  font-family: Helvetica;
  background-color: silver;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.3;
}

canvas {
  display: block;
  background-color: white;
}

input[type="submit"], input[type="button"], select {
  cursor: pointer;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #333;
  color: white;
  font-size: 12px;
  line-height: normal;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 10px;

  a { color: white; }
}

#header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  overflow: auto;

  h1 {
    font-size: 35px;
    float: left;
    margin: 0;
    margin-left: 15px;
    letter-spacing: -1px;
    z-index: 20;
  }
}
#help {
  float: right;
  margin-right: 15px;
}
#help a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}
#help_box {
  top: 50px;
  left: auto;
  right: 100px;
  width: 300px;
  padding: 0 10px;

  p {
    margin: 10px 0;
  }
  a {
    color: lightyellow;
    text-decoration: none;
    border-bottom: 1px dotted lightyellow;
  }
}

#main {
  padding: 15px;
}

#left_pane {
  float: left;
  width: 170px;
  margin-right: 30px;
}
#center_pane {
  text-align: center;
}
#right_pane {
  float: right;
  width: 250px;
}

.box, .se-box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px;
  /*float: left;*/
  overflow: auto;
  background-color: white;

  h3 {
    margin: -20px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
  }
}

#working_canvas {
  /*border: 1px solid red;*/
  cursor: pointer;
  display: inline;
}
#working_canvas.crosshair {
  cursor: crosshair;
}
#working_canvas.dropper {
  cursor: url(/images/dropper.cur), crosshair;
}
#working_canvas.move {
  cursor: move;
}

#se-box-tools {
  width: 130px;
  overflow: auto;
  margin-bottom: 20px;

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  ul li:last-child {
    margin-right: 0;
  }
  .tool {
    opacity: 0.5;
    cursor: pointer;
  }
  .tool:hover, .tool.selected {
    opacity: 1;
  }
  .tool.selected {
    border-bottom: 2px solid gray;
  }
}

#se-box-sizes {
  width: 130px;
  /*margin-left: 20px;*/
  margin-bottom: 20px;

  canvas {
    border: 1px solid red;
    opacity: 0.5;
    /*
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    */
    margin: 0 auto 20px auto;
    cursor: pointer;
  }
  canvas:last-child {
    margin-bottom: 0;
  }
  canvas:hover, canvas.selected {
    opacity: 1;
  }
  canvas.selected {
    border-width: 2px;
  }
}

#se-box-colors {
  clear: left;
  margin-bottom: 20px;
  text-align: center;

  .color_sample {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0 auto;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
  }
  .color_sample:last-child {
    margin-right: 0;
  }
  .color_sample.selected {
    border: 2px solid black;
  }
}

.square_color_picker {
  overflow: hidden;

  .hue_sat_canvas, .lum_canvas, .color_sample {
    border: 2px solid #666;
  }

  .hue_sat_div {
    float: left;
    position: relative;
  }
  .hue_sat_canvas, .hue_sat_selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hue_sat_canvas {
    z-index: 10;
  }
  .hue_sat_selector {
    background-image: url(/images/color_picker_hue_sat_selector.gif);
    background-repeat: no-repeat;
    z-index: 10;
    cursor: crosshair;
  }
  .lum_div {
    float: right;
    margin-left: 10px;
    background-image: url(/images/color_picker_lum_selector.gif);
    background-repeat: no-repeat;
  }
  .lum_canvas {
    position: relative;
    left: 11px;
    cursor: row-resize;
  }
  .color_fields, .color_sample {
    margin-top: 10px;
  }
  .color_fields {
    clear: both;
    float: left;
  }
  .color_sample {
    width: 45px;
    height: 45px;
    float: right;
  }
}

#preview_box {
  canvas {
    border: 1px solid rgba(255, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
  }
  canvas:nth-child(2) {
    margin-bottom: 20px;
  }
}

#import_export {
  margin-bottom: 10px;
}
#import, #export {
  display: inline;
}
